/* Common css*/

.container-fluid{
    padding: 0;

}

.spacer {
    display: none;
}

body {
    max-width: 100%;
    background-color: #2f3c7e;
    overflow-x: hidden;
}

.roze-kleur{
    background-color: #fbeaeb;
}

.roze-kleur-belangrijk{
    background-color: #fbeaeb !important;
    width: 80% !important;

}

/* End Common css*/



/* Header CSS*/


.header-web {
    display: none;
}

.fa-1x {
    font-size: 1.5rem;
    color: #fbeaeb;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}

.navbar {
    background-color: #2f3c7e !important;

}

.navbar-light .navbar-nav .nav-link {
    color: #fbeaeb;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fbeaeb;
}

.nav-link {
    margin-left: 5%;
}

.kleur-nav {
    color: #fbeaeb !important;
}

/* End header CSS*/


/* Nieuwsbrief CSS*/

#nieuwsbrief {
    min-height: 200px;
    background-color: #2f3c7e;
    width: 100%;
    color: #fbeaeb;
}

#nieuwsbrief-form {
    /*width: 50%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#email_form {
    margin-bottom: 10px;
}

/* End Nieuwsbrief CSS*/


/* Footer CSS*/
#footer{
    text-align: center;
    background-color: #2f3c7e;
    color: #fbeaeb;
}

/* End footer CSS*/


/* Home CSS*/
.bd-example {
    display: none;
}

.carousel {
    display: none;
}

.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
    z-index: 0;
}

.card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 75% 0;
    position: absolute;
    z-index: 1;
    font-size: 50px;
}

.card{
    border: none;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    background-color: #fbeaeb;
}

.card-text {
    color: #2f3c7e;
}

.card-row {
    background-color: #2f3c7e;
    padding-top: 75px;
    padding-bottom: 75px;
}

.col {
    padding: 0;
}

.h1-margin {
    margin-left: 5%;
    color: #2f3c7e;
}

.sale_card {
    border: 1px solid black;
}

@media only screen and (min-width: 768px) {
    .header-mobile {
        display: none;
    }

    .header-web {
        display: initial;
    }

    .spacer {
        display: initial;
    }

    .bd-example {
        display: initial;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232f3c7e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232f3c7e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .carousel-caption{
        color: #2f3c7e !important;
    }

    .carousel-indicators li {
        background-color: #2f3c7e ;
    }

    .carousel {
        display: initial;
    }

    .spacer-height {
        min-height: 100px;
    }

    .spacer {
        background-color: #2f3c7e;
        min-height: 100px;
        height: 100px;
    }
}

/* End Home CSS*/




/* Login CSS */



.LogincardStyleContainer{
    margin-top: 50px;
    margin-bottom: 25px;
}

.loginTextFieldsStyle{
    height: 50px !important;
}

.loginStyleMargin{
    margin-left: 25px;
}

.loginStyleHeader{
    margin: 0px;
    margin-left: 40px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 40px;
    color: #2f3c7e;
}

.Loginform-controlStyle{
    height: calc(2.19rem + 10px) !important;
    border: 1px solid gray !important;
    border-radius: 0px !important;
    font-size: 20px !important;
}

.loginBtnStyle{
    background-color: #2f3c7e !important;
    border-color: #2f3c7e !important;
    border-radius: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 5px;
    color: #fbeaeb!important;
}

.loginRegisterenBtnStyle{
    margin: 0 auto;
}

.loginWachtwoordVergetenStyle{
    margin-left: 11px;
    color: #2f3c7e !important;
}

.loginHr{
    border-top: 1px solid black;
    width: 100%;
}

.loginGeenAccount{
    margin: 0 auto;
    padding-bottom: 15px;
    color: #2f3c7e;
}

/* end Login CSS */



/*Registratie CSS */


.btnRegisterStyle{
    /*padding-left: 18.5px !important;*/
    background-color: #2f3c7e !important;
    border-color: #2f3c7e !important;
    border-radius: 0px !important;
    /*padding-right: 18.5px !important;*/
    color: #fbeaeb!important;
}

.registerBtnStyleMargin{
    margin-left: 65%;
}


.loginStyleMarinPersoonlijk{
    margin-top: 30px;
}

/* end registratie CSS */

/* Detailpagina css*/

.img-fiets-size {
    width: 60%;
    margin-left: 20%;
}

#fiets-title {
    color: #fbeaeb;
    margin-left: 20%;
    margin-top: 10px;
}

.btn-block {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fbeaeb;
    border-color: transparent;
    color: #2f3c7e;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #2f3c7e;
    background-color: #fbeaeb;
    border-color: transparent;
}

.btn-primary:hover {
    color: #2f3c7e;
    background-color: #fbeaeb;
    border-color: transparent;
}

td{
    color: #fbeaeb;
}

table {
    border-collapse: collapse;
    border: solid #fbeaeb 1px;
    margin: 0 auto;
    width: 60%;
}

tr {
    border-bottom: solid #fbeaeb 1px;
}

.ster{
    max-width: 30px;
    max-height: 30px;
}

.ster-col {
    max-width: 30px;
    max-height: 30px;

}

.eerste-ster-col {
    margin-left: 20%;
}

.review {
    width: 100%;
    height: 200px;
}

.review-button {
    float: right;
    margin-left: -50%;
    background-color: #fbeaeb;
    color: #2f3c7e;
}

.schrijf-review {
    padding: 3%;
}

@media only screen and (max-width: 768px) {
    .review-table {
        display: none;
    }

    .review-title {
        display: none;
    }

}
/*End detailpagina css*/


/* contact CSS */
.contactCardStyle{
    /*width: 25%;*/
    height: 350px;
    margin: 5% !important;
}


.contactStyleH1{
    font-size: 60px;
    color: #2f3c7e;
    font-weight: bold;
    margin-left: 15%;
    margin-top: 20%;
}

.contactOveronsStyle{
    color: #fbeaeb;
    font-size: 60px;
    font-weight: bold;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
}

.contactStyle{
    font-size: 25px;
    color: #2f3c7e;
    margin-left: 15%;
    line-height: 0.8;
}

.contactOverOnsGoogleMaps{
    margin-left: 5%;
    /*width: 100%;*/
}

.contactStyleP{
    font-size: 25px;
    color: #fbeaeb;
    /*margin: 5%;*/
    line-height: 1;
}

@media only screen and (max-width: 600px) {
    .contactOverOnsGoogleMaps{
        width: 435px;
    }

    .contactOveronsStyle{
        margin-left: 5%;
        margin-right: 5%;
    }

    .contactStyleP{
        font-size: 25px;
        color: #fbeaeb;
        line-height: 1;
        margin: 5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
    .contactOveronsStyle{
        margin-left: 5%;
        margin-right: 5%;
    }

    .contactOverOnsGoogleMaps{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .contactStyleP{
        font-size: 25px;
        color: #fbeaeb;
        line-height: 1;
        margin-left: 5%;
        margin-top: 2%;
    }

    .contactstyleCol{
        width: 100%;
    }

    .contactStyleH1{
        margin-top: 7.5%;
    }

}

@media only screen and (min-width: 768px) {
    .contactOverOnsGoogleMaps{
        margin-left: 5%;
        margin-right: 5%;
        width: 200px;
    }

    .contactOverOnsGoogleMaps{
        margin-left: 5%;
        /*margin-right: 5%;*/
        width: 90%;
    }

    .contactStyleH1{
        margin-top: 7.5%;

    }

    .contactOveronsStyle{
        margin-left: 5%;
    }

    .contactStyleP{
        font-size: 16px;
        color: #fbeaeb;
        line-height: 1;
        margin-left: 5%;
        margin-right: 2.5%;
    }



}

@media only screen and (min-width: 960px) {
    .contactStyleH1{
        margin-top: 7.5%;
        font-size: 35px;;
    }

    .contactStyle{
        font-size: 19px;
        color: #2f3c7e;
        margin-left: 15%;
        line-height: 0.8;
    }

}






/* end contact CSS



/* Detailpagina css*/

.img-fiets-size {
    width: 60%;
    margin-left: 20%;
}

#fiets-title {
    color: #fbeaeb;
    margin-left: 20%;
    margin-top: 10px;
}

.btn-block {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fbeaeb;
    border-color: transparent;
    color: #2f3c7e;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #2f3c7e;
    background-color: #fbeaeb;
    border-color: transparent;
}

.btn-primary:hover {
    color: #2f3c7e;
    background-color: #fbeaeb;
    border-color: transparent;
}

td{
    color: #fbeaeb;
}

table {
    border-collapse: collapse;
    border: solid #fbeaeb 1px;
    margin: 0 auto;
    width: 60%;
}

tr {
    border-bottom: solid #fbeaeb 1px;
}

.ster{
    max-width: 30px;
    max-height: 30px;
}

.ster-col {
    max-width: 30px;
    max-height: 30px;

}

.eerste-ster-col {
    margin-left: 20%;
}

.review {
    width: 100%;
    height: 200px;
}

.review-button {
    float: right;
    margin-left: -50%;
    background-color: #fbeaeb;
    color: #2f3c7e;
}

.schrijf-review {
    padding: 3%;
}

@media only screen and (max-width: 768px) {
    .review-table {
        display: none;
    }

    .review-title {
        display: none;
    }

}
/*End detailpagina css*/

/* winkelwagen CSS */

.winkelwagenH1Style{
    font-size: 25px;
    font-weight: bold;
    color: #fbeaeb;
    margin-left: 2%;
}

.winkelwagenMargin{
    margin-left: 17.5% ;


}

.winkelwagenColorStyle{
    color: #fbeaeb;
}

.colWinkelwagenMarginStyle{
    margin-left: 16.5%;


}

.colwinkelWagenMarginBedragStyle{
    margin-left: 21%;
}

.winkelwagenHr{
    color: #fbeaeb;
    border-color: white;
    width: 65%;
    margin: auto;
}

.winkelwagenHrSecond{
    width: 95%;
    color: #fbeaeb;
    border-color: #fbeaeb;
    margin: auto;
}

.winkelwagenStyleRow{
    margin-bottom: 20px;
}

.totaalArtikelenStyle{
    margin-left: 4%;
    color: #fbeaeb;
    margin-top: 15px;
}

.colwinkelWagenMarginBedragStyle{
    margin-left: 4%;
    color: #fbeaeb;
    /*margin-top: 15px;*/
    /*font-weight: bold;*/
}

.bedragNaastTitel{
    margin-top: 26px;
    font-weight: bold;
}

.verzendkostenStyle{
    margin-top: -15px;
    color: #fbeaeb;
}

.gratisStyle{
    margin-top: -15px;
    color: #fbeaeb;
}

.totaalBedragStyle{
    color: #fbeaeb;
    margin-top: 10px;
}


.verwijderenAStyle{
    color: #fbeaeb;
}

.verwijderenAStyle:hover{
    color: #fbeaeb;
    text-decoration: none;
}


.bestellenAStyle{
    color: #2f3c7e;
    background-color: #fbeaeb;
    margin: auto;
    float: right;
    clear: both;
    margin-right: 2.5%;
    padding: 1% 32.5% 1% 32.5%;
    margin-bottom: 20px;

}

.bestellenAStyle:hover{
    color: #2f3c7e;;
    text-decoration: none;

}


.verderWinkelenStyleCol{
    margin-top: 5%;
}

.verderWinkelenStyle{
    margin-left: 2%;
    color: #2f3c7e;;
    text-decoration: none;
    background-color: #fbeaeb;
    padding: 1% 5% 1% 5%;

}

.verderWinkelenStyle:hover{
    margin-left: 2%;
    color: #2f3c7e;;
    text-decoration: none;
    background-color: #fbeaeb;
    padding: 1% 5% 1% 5%;

}

.colWinkelwagenStyle{
    /*line-height: 0.1px;*/
    color: #fbeaeb;
    /*margin-top: 30px;*/

}

.colWinkelwagenStyleInlineBlock{
    display: inline-block;
    /*float: left;*/
    /*clear: both;*/
}

.aantalStyle{
    /*margin-left: 5%;*/
    margin-top: 1px;
}



.aantalStyleRow{
    margin-left: 16.5%;
}

.winkelWagenStyleP{
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 40px;

}

.winkelwagenImageStyle{
    width: 100%;
    margin-top: 8px;
}

.selectStyle{
    width: 43px;
    display: block;
    margin-bottom: 15px;
    margin-top: -10px;
}

.besteldStyle{
    margin-left: 31%;
}


@media only screen and (min-width: 580px) {
    .bedragNaastTitel {
        font-weight: bold;
        margin-top: 49px;
    }

    .besteldStyle {
        margin-left: 31%;
        margin-top: 48px;
    }

    .aantalStyle {
        margin-top: 48px;
    }

    .verwijderenAStyle {
        color: #fbeaeb;
        margin-top: 48px;
    }

    .winkelwagenImageStyle{
        width: 40px;
    }


}




@media only screen and (min-width: 768px) {
    .winkelwagenImageStyle{
        width: 100%;
    }

    /*.winkelWagenStyleP{*/
        /*margin-left: 2%;*/
    /*}*/


    .besteldStyle{
        margin-top: 50px;
    }

    .bedragNaastTitel{
        margin-top: 52px;
    }
    .aantalStyle{
        margin-top: 52px;
    }

    .verwijderenAStyle {
        color: #fbeaeb;
        margin-top: 51px;
    }

    .winkelwagenImageStyle {
        margin-left: 17px;
    }


    .bestellenAStyle {
        padding: 0.5% 1% 0.5% 1%;

    }

    .verderWinkelenStyle{
        padding: 0.5% 1% 0.5% 1%;
    }


    .verderWinkelenStyle:hover{
        padding: 0.5% 1% 0.5% 1%;
    }

    .verderWinkelenStyleCol{
        margin-top: 2%;
    }

}

@media only screen and (min-width: 992px) {
    .bestellenAStyle {
        padding: 0.5% 1% 0.5% 1%;

    }

    .verderWinkelenStyle{
        padding: 0.5% 1% 0.5% 1%;
    }

    .verderWinkelenStyleCol{
        margin-top: 2%;
    }
}



@media only screen and (min-width: 1200px) {
    .bestellenAStyle {
        padding: 0.5% 1% 0.5% 1%;

    }

    .verderWinkelenStyle{
        padding: 0.5% 1% 0.5% 1%;
    }

    .verderWinkelenStyle:hover{
        padding: 0.5% 1% 0.5% 1%;
    }


    .verderWinkelenStyleCol{
        margin-top: 2%;
    }

    .winkelwagenImageStyle {
        margin-left: 40px;
    }

    .winkelWagenStyleP {
        margin-left: 30px;
    }

    .besteldStyle, .aantalStyle {
        margin-top: 50px;
    }
}
/* end winkelwagen CSS




/*Profiel css*/



.img-profiel {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 5%;
}

.text-area-profiel{
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 5%;
    height: 60%;
}

.p-profiel {
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #fbeaeb;
    margin-bottom: 5%;
}

.btn-profiel{
    width: 50%;
    margin: 0 auto;
    display: block;
    float: none;
    margin-bottom: 5%;
}
.table-profiel {
    margin-bottom: 2%;
}
/*End profiel.blade.php css*/









/* Voorbeelden Media Queries*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
}


/*Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}


/*!* Large devices (laptops/desktops, 992px and up) *!*/
@media only screen and (min-width: 992px) {

}

/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {

}
