/* Common css*/

.container-fluid{
    padding: 0;

}

.spacer {
    display: none;
}

body {
    max-width: 100%;
    background-color: #2f3c7e;
}

.roze-kleur{
    background-color: #fbeaeb;
}

/* End Common css*/



/* Header CSS*/


.header-web {
    display: none;
}

.fa-1x {
    font-size: 1.5rem;
    color: #fbeaeb;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}

.navbar {
    background-color: #2f3c7e !important;

}

.navbar-light .navbar-nav .nav-link {
    color: #fbeaeb;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fbeaeb;
}

.nav-link {
    margin-left: 5%;
}

.kleur-nav {
    color: #fbeaeb !important;
}



/* End header CSS*/


/* Nieuwsbrief CSS*/

#nieuwsbrief {
    min-height: 200px;
    background-color: #2f3c7e;
    width: 100%;
    color: #fbeaeb;
}

#nieuwsbrief-form {
    /*width: 50%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#email_form {
    margin-bottom: 10px;
}

/* End Nieuwsbrief CSS*/


/* Footer CSS*/
#footer{
    text-align: center;
    background-color: #2f3c7e;
    color: #fbeaeb;
}

/* End footer CSS*/


/* Home CSS*/
.bd-example {
    display: none;
}

.carousel {
    display: none;
}

.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
    z-index: 0;
}

.card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 75% 0;
    position: absolute;
    z-index: 1;
    font-size: 50px;
}

.card{
    border: none;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    background-color: #fbeaeb;
}

.card-text {
    color: #2f3c7e;
}

.card-row {
    background-color: #2f3c7e;
    padding-top: 75px;
    padding-bottom: 75px;
}

.col {
    padding: 0;
}

.h1-margin {
    margin-left: 5%;
    color: #2f3c7e;
}

.sale_card {
    border: 1px solid black;
}

@media only screen and (min-width: 768px) {
    .header-mobile {
        display: none;
    }

    .header-web {
        display: initial;
    }

    .spacer {
        display: initial;
    }

    .bd-example {
        display: initial;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232f3c7e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232f3c7e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .carousel-caption{
        color: #2f3c7e !important;
    }

    .carousel-indicators li {
        background-color: #2f3c7e ;
    }

    .carousel {
        display: initial;
    }

    .spacer-height {
        min-height: 100px;
    }

    .spacer {
        background-color: #2f3c7e;
        min-height: 100px;
        height: 100px;
    }
}

/* End Home CSS*/


/* categoriepagina CSS */

.btn-secondary {
    color: #fbeaeb;
    background-color: transparent;
    border-color: #fbeaeb;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fbeaeb;
    background-color: transparent;
    border-color: #fbeaeb;
}

.btn-secondary:hover {
    color: #fbeaeb;
    background-color: transparent;
    border-color: #fbeaeb;
}

.dropdown-menu.show {
    background-color: #2f3c7e;
}

.categorie-h1 {
    color: #fbeaeb;
    text-align: center;
}

.pagination {
    justify-content: center;
}

.pagination>li>a,
.pagination>li>span {
    border: 1px solid #fbeaeb;
    background-color: #fbeaeb;
    color: #2f3c7e;
}

@media only screen and (min-width: 1200px) {
    .dropdown {
        display: none;
    }
}

.list-group {
    margin-left: 10%;
    color: #2f3c7e;
}

.list-group-item {
    background-color: #fbeaeb;
}

.list-group {
    display: none;
}

.spacer-list {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .list-group {
        display: initial;
    }

    .spacer-list {
        display: initial;
    }
}

/* End Categoriepagina CSS */

/* Detailpagina css*/

.img-fiets-size {
    width: 60%;
    margin-left: 20%;
}

#fiets-title {
    color: #fbeaeb;
    margin-left: 20%;
    margin-top: 10px;
}

.btn-block {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fbeaeb;
    border-color: transparent;
    color: #2f3c7e;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #2f3c7e;
    background-color: #fbeaeb;
    border-color: transparent;
}

.btn-primary:hover {
    color: #2f3c7e;
    background-color: #fbeaeb;
    border-color: transparent;
}

td{
    color: #fbeaeb;
}

table {
    border-collapse: collapse;
    border: solid #fbeaeb 1px;
    margin: 0 auto;
    width: 60%;
}

tr {
    border-bottom: solid #fbeaeb 1px;
}

.ster{
    max-width: 30px;
    max-height: 30px;
}

.ster-col {
    max-width: 30px;
    max-height: 30px;

}

.eerste-ster-col {
    margin-left: 20%;
}

.review {
    width: 100%;
    height: 200px;
}

.review-button {
    float: right;
    margin-left: -50%;
    background-color: #fbeaeb;
    color: #2f3c7e;
}

.schrijf-review {
    padding: 3%;
}

@media only screen and (max-width: 768px) {
    .review-table {
        display: none;
    }

    .review-title {
        display: none;
    }

}
/*End detailpagina css*/



/* Voorbeelden Media Queries*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
}


/*Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}


/*!* Large devices (laptops/desktops, 992px and up) *!*/
@media only screen and (min-width: 992px) {

}

/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {

}
