.container-fluid{
    padding: 0;

}

body {
    max-width: 100%;
    background-color: #fbeaeb;
}
.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
    z-index: 0;
}

.card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 75% 0;
    position: absolute;
    z-index: 1;
    font-size: 50px;
}

.card{
    border: none;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    background-color: #fbeaeb;
}

.card-text {
    color: #2f3c7e;
}

.card-row {
    background-color: #2f3c7e;
    padding-top: 75px;
    padding-bottom: 75px;
}

.header-web {
    display: none;
}

.fa-1x {
    font-size: 1.5rem;
    color: #fbeaeb;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}

.navbar {
    background-color: #2f3c7e;

}

.col {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #fbeaeb;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fbeaeb;
}

.nav-link {
    margin-left: 5%;
}

.roze-kleur{
    background-color: #fbeaeb;
}

.h1-margin {
    margin-left: 5%;
    color: #2f3c7e;
}

.row {
    margin-right: 0;
}

.sale_card {
    border: 1px solid black;
}

#nieuwsbrief {
    min-height: 200px;
    background-color: #2f3c7e;
    width: 100%;
}

#nieuwsbrief-form {
    /*width: 50%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#email_form {
    margin-bottom: 10px;
}

#footer{
    text-align: center;
    background-color: #fbeaeb;
}
